@mixin flex-row-center-center {
    display: flex;
    flex-direction:row; 
    justify-content: center; 
    align-items: center;
}

@mixin flex-col-center-center {
    display: flex;
    flex-direction:column; 
    justify-content: center; 
    align-items: center;
}

@mixin app-shadow-1 {
    padding: 1.5rem;
    box-shadow: 3px 5px 10px rgb(233, 228, 228);
    background-color: aliceblue;
}

@mixin sqr-dim($d){
    height: $d; width: $d; 
}

@mixin circle-dim($d){
    height: $d; width: $d; 
    border-radius: 50%;
} 
@mixin circle-dim-center-center($d){
    @include flex-col-center-center; 
    @include circle-dim($d);
}

@mixin app-hover-1{
    transform: scale(1.2);
    box-shadow: 1px 1px 10px rgb(233, 228, 228);
}

@mixin grd-text($fsize) {
    font-size: $fsize;
    text-align: center;

    height: $nav-h; 
    width: 100%;  
    border-radius: 10px;
    background-color: black;
    background-image: $plg; 
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin skew-effect {
    transform: skewY(1deg) skewX(1deg)  scale(1.1);
    text-shadow: .2em .4em 1em #777;
}