$bg-color: rgb(247, 214, 214);
$col-1: rgb(247, 78, 11);
$col-1-light: rgb(243, 197, 179);
$nav-h: 70px;
$min-app-w:425px;
$pclr: #777; 
$pbgclr: rgb(238, 248, 248);

$plg: linear-gradient(45deg, 
rgb(105, 64, 201) , 
rgb(233, 54, 188) ,
rgb(143, 113, 32) ,
rgb(127, 194, 3) ,
rgb(250, 133, 149) ,
rgb(37, 223, 136) , 
rgb(130, 60, 243) ,
rgb(133, 132, 67) ,
rgb(48, 51, 223) ,
rgb(98, 203, 245)
);

$slg: linear-gradient(to right, rgb(218, 209, 241),rgb(245, 227, 240));
$flg: linear-gradient(to bottom, rgb(57, 56, 59), rgb(36, 4, 29), #777);
$app-width: 425px ;