* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding: 10px;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.7rem;
  color: #726262;
  background-color: whitesmoke; }

.containor {
  margin: 0 auto;
  padding: 10px;
  background-color: #eef8f8;
  min-width: 425px; }

nav {
  height: 70px;
  width: 100%;
  border-radius: 10px;
  background-color: black;
  background-image: linear-gradient(45deg, #6940c9, #e936bc, #8f7120, #7fc203, #fa8595, #25df88, #823cf3, #858443, #3033df, #62cbf5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center; }
  nav h2 {
    font-size: 2.5em; }

header, footer, section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%; }

section {
  background-image: linear-gradient(to right, #dad1f1, #f5e3f0); }

footer {
  background-image: linear-gradient(to bottom, #39383b, #24041d, #777);
  color: white; }

/* HEADER */
.app--header {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(119, 119, 119, 0.664), rgba(14, 13, 13, 0.726)), url("./img-3.jpg");
  background-size: cover;
  color: white;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%); }
  .app--header h2 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 35px;
    animation: slide-left 2s; }
  .app--header p {
    padding: 1em 0;
    font-size: 1.2em;
    max-width: 425px;
    animation: slide-right 2s; }
  .app--header button {
    position: relative;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    padding: 0.5em 3em;
    border-radius: 2em;
    border: none;
    color: #f74e0b;
    font-weight: 600;
    margin: 1em 1em;
    transition: all 1s;
    animation: slide-down 1s; }
    .app--header button:hover {
      /* transform: translateY(10px);
            box-shadow: 1px 1px 30px white; */
      /* transform: scaleX(1.2) scaleY(1.5); */ }
    .app--header button::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 2em;
      /* border: 2px solid $col-1) ; */
      background-color: white;
      color: #f74e0b;
      transition: all 0.4s; }
    .app--header button:hover::after {
      transform: scale(1.5);
      opacity: 0; }

/* icon and logo */
.app-icon {
  position: absolute;
  top: 1em;
  font-size: 2em;
  cursor: pointer;
  color: #f3c5b3; }

.logo {
  left: 1em; }

.menu {
  right: 1em; }

/* Animation */
@keyframes slide-right {
  from {
    transform: translateX(-100%);
    opacity: 0; }
  to {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes slide-left {
  from {
    transform: translateX(100%);
    opacity: 0; }
  to {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes slide-down {
  from {
    transform: translateY(100%);
    opacity: 0; }
  to {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes slide-up {
  from {
    transform: translateY(-100%);
    opacity: 0; }
  to {
    transform: translateY(0%);
    opacity: 1; } }
