@keyframes slide-right {
  from {
    transform: translateX(-100%);
    opacity: 0; }
  to {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes slide-left {
  from {
    transform: translateX(100%);
    opacity: 0; }
  to {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes slide-down {
  from {
    transform: translateY(100%);
    opacity: 0; }
  to {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes slide-up {
  from {
    transform: translateY(-100%);
    opacity: 0; }
  to {
    transform: translateY(0%);
    opacity: 1; } }

.app-icon {
  position: absolute;
  top: 1em;
  font-size: 2em;
  cursor: pointer;
  color: #f3c5b3;
  transition: all 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  border-radius: 50%; }
  .app-icon:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 10px #e9e4e4; }

.logo {
  left: 1em;
  animation: slide-right 1s; }

.menu {
  right: 1em;
  animation: slide-left 1s; }

@keyframes slide-right {
  from {
    transform: translateX(-100%);
    opacity: 0; }
  to {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes slide-left {
  from {
    transform: translateX(100%);
    opacity: 0; }
  to {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes slide-down {
  from {
    transform: translateY(100%);
    opacity: 0; }
  to {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes slide-up {
  from {
    transform: translateY(-100%);
    opacity: 0; }
  to {
    transform: translateY(0%);
    opacity: 1; } }

body {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.7rem;
  color: #726262;
  background-color: whitesmoke; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding: 10px;
  color: #726262;
  background-color: whitesmoke; }

.containor {
  margin: 0 auto;
  padding: 10px;
  background-color: #eef8f8;
  min-width: 425px; }

header, footer, section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%; }

@keyframes slide-right {
  from {
    transform: translateX(-100%);
    opacity: 0; }
  to {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes slide-left {
  from {
    transform: translateX(100%);
    opacity: 0; }
  to {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes slide-down {
  from {
    transform: translateY(100%);
    opacity: 0; }
  to {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes slide-up {
  from {
    transform: translateY(-100%);
    opacity: 0; }
  to {
    transform: translateY(0%);
    opacity: 1; } }

button {
  position: relative;
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
  padding: 0.5em 3em;
  border-radius: 2em;
  border: none;
  color: #f74e0b;
  font-weight: 600;
  margin: 1em 1em;
  transition: all 1s;
  animation: slide-down 1s; }
  button:hover {
    /* transform: translateY(10px);
        box-shadow: 1px 1px 30px white; */
    /* transform: scaleX(1.2) scaleY(1.5); */ }
  button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 2em;
    /* border: 2px solid $col-1) ; */
    background-color: white;
    color: #f74e0b;
    transition: all 0.4s; }
  button:hover::after {
    transform: scale(1.5);
    opacity: 0; }

nav {
  font-size: 1.5em;
  text-align: center;
  height: 70px;
  width: 100%;
  border-radius: 10px;
  background-color: black;
  background-image: linear-gradient(45deg, #6940c9, #e936bc, #8f7120, #7fc203, #fa8595, #25df88, #823cf3, #858443, #3033df, #62cbf5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.app--header {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(119, 119, 119, 0.664), rgba(14, 13, 13, 0.726)), url("img-3.jpg");
  background-size: cover;
  color: white;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%); }
  .app--header h2 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 35px;
    animation: slide-left 2s; }
  .app--header p {
    padding: 1em 0;
    font-size: 1.2em;
    max-width: 425px;
    animation: slide-right 2s; }

footer {
  background-image: linear-gradient(to bottom, #39383b, #24041d, #777);
  color: white; }
