<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=2.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="img/icon.png" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>User List</title>
    <script defer src="script.js"></script>
  </head>

<body >
<div class="containor">
  <header class="header">
    <h3>Live user filter</h3>
    <small></small>
    <h4>Search by name or location</h4>
    <input type="text" id=filter>
  </header>

  <ul id="result" class="user-list">
    <!-- <li>
      <img src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
      <div class="user-info">
        <h4>Jennifer</h4>
        <p>Works for CGC, irvine</p>
      </div>
    </li>
    <li>
      <img src="https://randomuser.me/api/portraits/women/2.jpg" alt="">
      <div class="user-info">
        <h4>Anna Liu</h4>
        <p>Works for CGC, irvine</p>
      </div>
    </li>
    <li>
      <img src="https://randomuser.me/api/portraits/men/7.jpg" alt="">
      <div class="user-info">
        <h4>Lekhraj Dinkar</h4>
        <p>Works for CGC, Pune</p>
      </div>
    </li> -->
    
  </ul>

</div>
    
    
  </body>
</html>
