@import '../../app-sass/variable';
// *{ border: 1px dotted rgb(65, 70, 65);}
.containor{
    // text-align: center;
    box-shadow: 0px 0px 10px #999;
    border-top: 2px solid darkgreen;
    width: 400px;
    margin: 20px auto; padding: 20px;
    overflow: hidden;

    header{
        color: white; background-color: rgb(78, 112, 133);
        // background-image: $grd-mix-color;
        font-size: 1.5em;
        padding: 2rem;
    }
    
    .blog{
        background-color: whitesmoke;
        cursor: pointer;
        transition: all 1s;

        .title{
            font-size: 1.5em; padding:12px 12px;
            border-top: 1px solid rgb(195, 211, 195);
        }

        .desc{
            font-size: 1em; padding:4px 12px;
            opacity:0.7
        }

        &:hover{
            transform: translateX(-10px) scale(1.01);
            background-color: rgb(218, 196, 196);
        }
    }

    .action{
        
        .btn{
            text-align: center;
            display: block;
             padding: 20px;    
             color: black;  
             border: 2px solid black; 
             border-radius: 10px;
             cursor: pointer;
             margin: 20px;
             font-size: 1.5em;
            //  

             &:hover{
                transform: scale(1.01);
                color: coral;  
                border: 2px solid coral; 
            }
        }
    }
}


