<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>03 position</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
body
<section class="containor-float">
    containor-float
    <div style="float:left" class="box box--1"> box--1</div>
    <div style="float:right"class="box box--2"> box--2</div>
    <div style="float:right"class="box box--3"> box--3</div>
    <span>some content after floated components</span>
</section>

<strong>containor-flex ROW</strong>
<section class="containor-flex" style="flex-direction: row;">
    <div class="flex-item flex-item--1"> <span>el-1</span> </div>
    <div class="flex-item flex-item--2"> <span>el-2</span></div>
    <div class="flex-item flex-item--3"> <span>el-3</span></div>
    <div class="flex-item flex-item--4"> <span>el-4</span> </div>
    <div class="flex-item flex-item--5"> <span>el-5</span></div>
    <div class="flex-item flex-item--6"> <span>el-5</span></div>
</section>


<em> containor-flex COLUMN</em>
<section class="containor-flex" style="flex-direction: column;">
    <!-- <div class="box box--1" > box--1</div>
    <div class="box box--2"> box--2</div>
    <div class="box box--3"> box--3</div> -->
</section>

<em> <h3>CSS grid</h3></em>
<section class="containor-grid">
    <div class="grid-item grid-item--1"> <span>el-1</span> </div>
    <div class="grid-item grid-item--2"> <span>el-2</span> </div>
    <div class="grid-item grid-item--3"> <span>el-3</span> </div>
    <div class="grid-item grid-item--4"> <span>el-4</span> </div>
    <div class="grid-item grid-item--5"> <span>el-5</span> </div>
    <div class="grid-item grid-item--6"> <span>el-6</span> </div>
</section>
   
    
</body>
</html>