<div class="containor">

        <div class="api-card" *ngFor="let item of restCall">
            <div>
                <div class="name">{{item.name}}</div><hr>
                <div class="desc">{{item.desc}}</div>
            </div>
            
            <div class="type">{{item.type}}</div>

            <button (click)="backend_call(item)">send</button>

            <div *ngFor="let feild of item | json">
                <!-- {{feild.key}} :  {{feild.value }} -->
            </div>
        </div>
</div>

<div class="containor" style="background-color: rgb(248, 248, 237); border-top:4px solid coral">
        <div class="api-card" *ngFor="let item of meanApp">
            <div>
                <div class="name">{{item.name}}</div><hr>
                <div class="desc">{{item.desc}}</div>
            </div>
            
            <div class="type">{{item.type}}</div>
            <textarea *ngIf="item.type === 'POST'" cols="30" rows="5">
                {{item.body | json}}
            </textarea>

            <button (click)="backend_call(item)">send</button>

            <div *ngFor="let feild of item | json">
                <!-- {{feild.key}} :  {{feild.value }} -->
            </div>
        </div>
  
</div>
