<div class="containor">

        <div class="api-card" *ngFor="let item of restCall">
            <div>
                <div class="name">{{item.name}}</div><hr>
                <div class="desc">{{item.desc}}</div>
            </div>
            
            <div class="type">{{item.type}}</div>

            <button (click)="backend_call(item)">send</button>

            <div *ngFor="let feild of item | json">
                <!-- {{feild.key}} :  {{feild.value }} -->
            </div>
        </div>
  
</div>
