@import "../../app-sass/mixin";

.containor{
    margin: auto;
    
    display: flex; flex-direction: row; align-items: stretch; justify-content: flex-start;

    .api-card{
        display: flex; flex-direction: row; align-items: stretch; justify-content: flex-start;
        border: 1px solid black;
        
        padding: 10px; margin: 20px;
        button{
            padding: 10px ;
            background: none; border-radius: 10px;
            font-size: 1.5rem;
            cursor: pointer;
            border: 2px solid black;

            &:hover{
                border: 2px solid orangered; color: orangered;
                box-shadow: 1px 1px 10px orangered;
                transform: scale(1.01);
            }
        }

        .desc{
            font-size: 1rem;
            opacity: 0.7; color: black;
            margin: 5px 5px;
            max-width: 324px;
        }
    }
}