:host.ng-invalid .containor{
    border:2px solid rgb(236, 40, 66);
}

.containor{
    display: flex ; justify-content: space-between; align-items: center;
    border:2px solid rgb(70, 145, 10);
    padding: 2px 16px;
    margin: 4px;
    font-size: 1em;
    background-color: rgb(227, 245, 227);
    color: white;
    border-radius: 8px;

    label{
        font-size: large;
        color: black;
    }

    input{
        text-align: center;
        width:324px;
        font-size: 1.4em;
        background: none; border: none;
        background-color:whitesmoke;
        outline: none;
        padding:8px 16px;
        margin: 5px;
        transition: all 0.5s;
        &:focus{
            background-color: rgb(194, 209, 211); color: rgb(23, 143, 107);
            width:350px;
            box-shadow: 0px 0px 20px white;
        }
    }

    &:focus{
        background-color: rgb(68, 126, 68);
    }
}
