<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination</title>
    <link rel="stylesheet" href="pagination.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <!-- <script defer src="page.js"></script> -->

</head>
<body>
    <div class="containor">

        <div class="page page--1">
            <table>
                <thead>
                    <tr>
                        <th>heading--1</th>
                        <th>heading--2</th>
                        <th>heading--3</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>aaa</td>
                        <td>aaa</td>
                        <td>aaa</td>
                    </tr>
                    <tr>
                        <td>aaa</td>
                        <td>aaa</td>
                        <td>aaa</td>
                    </tr>
                    <tr>
                        <td>aaa</td>
                        <td>aaa</td>
                        <td>aaa</td>
                    </tr>
                    <tr>
                        <td>aaa</td>
                        <td>aaa</td>
                        <td>aaa</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

        <div class="paginator">
            <div style="display: flex; align-items: center;">
                <p style="font-size:16px; ">Page</p> 
                <input type="text" style="width: 30px; margin-left: 10px;">
            </div>
            <span class="icon ion-md-rewind"></span>
            <span class="icon ion-md-arrow-back"></span>
            <div style="display: flex; align-items: center;">
                <span>1</span>
                <span>2</span>
                <span class="active--page">3</span>
                <span>4</span>
                <span>5</span>
                <span>5</span>
                <span>6</span>
            </div>
            <span class="icon ion-md-arrow-forward"></span>
            <span class="icon ion-md-fastforward"></span>
        
        </div>
</body>
</html>

