@import "../app-sass/mixin";

.obs--data{display: inline-block; margin-left: 10px; padding: 5px 20px; 
    background-color: rgb(185, 230, 230); border: 1px dotted black;}

.containor{
    font-size: 1.5em;
    margin: auto; padding: 10px 50px;
    input{
        outline: none; font-size: 1em;
        background: none;
        @include common;
        &:focus{  @include focus_item}
    }
    .btn{
        @include common;
        &:hover{@include focus_item; color:white};
        box-shadow: 5px 5px 10px rgb(49, 48, 48);
        background-color: cadetblue; color: white;
        &:active{color: green; border-color: greenyellow;}
    }
}

.active_border{
    border: 3px solid orangered;
}