<div class="containor" style="display:flex">

    
    <div class="card buffer">
        <h3> A. Buffer related</h3><hr><br>
        
        <div class="opr">
            <a (click)="buffer_test()">Start interval obs</a>
            <br> BUFFER : Buffer numbers until stop click me and then emit all.
            <button #bufferBtn >Stop</button>
            <span class="sdata" *ngFor="let item of buffer$ | async">{{item}}</span>
        </div>

        <div class="opr">
            <a (click)="bufferCount_test()">Start interval obs</a>
            <br> BUFFER COUNT: Buffer numbers then release batch of 5
            <button #bufferCountBtn>Stop </button>
            <span class="sdata" *ngFor="let item of bufferCount$ | async">{{item}}</span>
        </div>

        <div class="opr">
            <a (click)="bufferTime_test()">Start interval obs</a>
            <br> BUFFER TIME: Buffer numbers till 2 sec, then release
            <button #bufferCountTime> Stop</button>
            <span class="sdata" *ngFor="let item of bufferTime$ | async">{{item}}</span>
        </div>
    </div>


    <div class="card buffer">
        <h3> A. Map related</h3><hr><br>
        
        <!-- <div class="opr">
            <a (click)="map_test()">Start interval obs</a>
            <br> MAP : simple transformation.
            <button #mapBtn >Stop</button>
            <span class="sdata" *ngFor="let item of map$ | async">{{item}}</span>
        </div> -->

        
    </div>

</div>
