button{
    //font-size: small;
    padding: 10px 20px;  margin:10px 20px;  cursor: pointer;
    border: 2px solid green; background-color: rgb(245, 207, 226);
    &:hover{
        box-shadow: 0 0 10px #777
    }
    &:active{
        transform: scale(1.1);
        color: rgb(137, 174, 243);
    }
}

a{
    cursor: pointer; color: fuchsia;
    &:active{ color:coral;}
    &:hover{color: deepskyblue;}
}

.sdata{
    cursor: pointer;
    padding: 5px; margin: 5px; border: 1px solid deepskyblue;
    &:hover{background-color: rgb(35, 95, 116); color:white; box-shadow: 0 0 5px orangered;}
}

.card{
    
    padding: 10px; margin: 5px; border: 1px solid rgb(110, 113, 114);

    .opr{
        padding: 10px; margin: 5px; border: 1px solid rgb(110, 113, 114);
    }
}
