.containor{
    height: 100%;
    border-left: 2px solid greenyellow; 
    margin: auto auto; padding: 20px;
    
    .item{
        color: rgba(0, 0, 0, 0.801);
       font-size: larger;
       
    }

}

.user{
    margin: 10px; padding: 20px;
    background-color: rgb(234, 255, 193);
    border: 3px solid greenyellow;
    text-align: center;
}

.console-containor{
    background-color: rgb(29, 104, 63);
    font: small;
    color: rgb(27, 231, 8);
    font-family: 'Courier New', Courier, monospace;
    padding:10px 16px;
    margin: 10px 16px;
}