<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=2.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="img/icon.png" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Slidder Demo</title>
    <script defer src="script.js"></script>
  </head>
  <body>


    <section class="section" id="section--3">

        <div class="slide-containor-left">
          <div class="slide slide--left slide--left--0">
            <h2 class="slide--title">Slide 1</h2>
            <h3 class="slide--desc">this is slide 1 description</h3>
          </div>
          <div class="slide slide--left slide--left--1">
            <h2 class="slide--title">Slide 2</h2>
            <h3 class="slide--desc">this is slide 2 description</h3>
          </div>
          <div class="slide slide--left slide--left--2">
            <h2 class="slide--title">Slide 3</h2>
            <h3 class="slide--desc">this is slide 3 description</h3>
          </div>
        </div>
          
        <div class="slide-containor-right">
          <div class="slide slide--right slide--right--0">
            <h2 class="slide--title" >Enter choice</h2>
            <textarea name="textarea" id="textarea" ></textarea>
          </div>
          <div class="slide slide--right slide--right--1"></div>
          <div class="slide slide--right slide--right--2"></div>
        </div>
          
      <button class="btn btn-up" value="UP"> up </button>
      <button class="btn btn-down" value="DOWN"> down </button>

    </section>


    
  </body>
</html>
