@import "../app-sass/mixin";

.containor{
    margin: 10px 20px; padding: 10px 20px; 
    background: whitesmoke;
    color: green;
    display: flex; justify-content: space-around; align-items: stretch; flex-wrap: wrap;
    height: 95%;

    .block{
        margin: 5px;
        padding:10px 20px;
        background-image: linear-gradient( rgb(221, 240, 184), rgb(207, 207, 241));
        border-top: 3px solid yellowgreen;
        width: 400px; height: 400px;
        overflow: scroll;
        box-shadow: 5px 5px 10px rgb(131, 131, 131);
        .desc{
            font-size: large; 
            opacity: 0.7;
            padding:10px
        }
        .title{
            font-size: larger;
           // position: relative; right: 0;
        }
       
    }
}

input{
    outline: none;
    background: none;
    @include input-mixin;
    width:100px;
}

button{
    padding: 10px 20px;  margin:10px 20px;  cursor: pointer;
    border: 2px solid green; background-color: rgb(245, 207, 226);
    &:hover{
        box-shadow: 0 0 10px #777
    }
    &:active{
        transform: scale(1.1);
        color: yellowgreen;
    }
}