body{
    display: flex;
    background-color: rgb(207, 204, 195);
    align-items: center;
    justify-content: center;
    font-size: large;
    font-family: sans-serif;
}

.containor{
    display: flex; flex-direction: row;
    height: 70vh;
}

.player-containor, .dice-containor{
    padding: 2em;
    color: cornsilk;
    background-color: rgb(66, 175, 139);
    display: flex; flex-direction: column;
}
.player-containor{
    background-color: rgb(95, 138, 124);
}
.dice-containor{
    background-color: rgb(31, 88, 69);
}

.active{
    background-color: black;
    color: rgb(18, 250, 18);
    text-align: center;
    margin-top: 50px;
}

.name{
    
}

.total-score{

}
.current-score{
    
}
.dice{
    height: 50px; width: 50px;
    background-color: crimson; color: white;
    text-align: center;
    font-size: 40px;
    box-shadow: white 5px 5px;
    transform: translateX(100px) rotate(45deg) ;

}

.active-player-bg{
    background-color: rgb(245, 245, 136);
    color: teal;
}

.btn{    
    padding: 25px 25px;
    font-size: 40px;
    border-radius: 50%;
}
.btn-roll{
 color: tomato;
 transform: translateX(25px);
}

.btn-hold{
margin-top: 30px;
color: violet;

}

.hide{display: none;}
.show{display: block;}