<div style="text-align:center"><strong>Reactive Form</strong> </div> 
<div class="containor">
    
        <form class="form-grid" [formGroup]="form" novalidate>
            <div class="left">
                <div class="input">
                    <span>First Name</span>
                    <input formControlName="fname" type="text" placeholder="">
                </div>
                
                <div class="input">
                    <span>Last Name</span>
                    <input formControlName="lname" type="text" placeholder="">
                    <ng-container *ngIf="form.controls.lname.touched && !form.controls.lname.valid">
                        <span class="err_message">Please enter valid Last Name</span> 
                    </ng-container>
                </div>

                <div class="input">
                    <span>Email</span>
                    <input formControlName="email" type="email" placeholder="@gmail.com">
                    <ng-container *ngIf="form.controls.email.touched && !form.controls.email.valid">
                        <span class="err_message">Please enter valid email</span>
                    </ng-container>
                </div>

            </div>

            <div class="right">
                <!-- <input type="text" placeholder="First Name">
                <input type="text" placeholder="First Name"> -->
            </div>

            <div style="grid-column: 1/3; display: flex; justify-content: center; align-items: center;">
                  <button (click)="printForm()" [disabled]="form.invalid">Submit</button>
                  <button (click)="reset()">Reset</button>
                  <button (click)="patch()" >Patch</button>
            </div>  
        </form>

        <div class="side-grid">
            <div *ngFor="let item of items"> {{item}}</div>
            <div *ngFor="let item of form.value | keyvalue">{{item.key}} : {{item.value}}</div>
        </div>
    

</div>
