<div style="text-align:center"><strong>Reactive Form</strong> </div> 
<div class="containor">
    
        <form class="form-grid" [formGroup]="form" novalidate>
            <div class="left" style="grid-column: 1/3">

                <!-- IMPORTANT usecase of binding -->
                <app-custom-input label="Enter Country" formControlName="country" 
                [value]="form.get('country')?.value"
                (valueChange)="form.get('country')?.setValue($event)"
                >
                    <ng-container class="err_message" *ngIf="form.get('country')?.errors">
                        <span  *ngFor="let item of form.get('country')?.errors | keyvalue" class="err_message">{{item.value}}</span> 
                    </ng-container>
                </app-custom-input>

                <app-custom-input 
                label="Enter state" 
                formControlName="state"
                [(ngModel)]="state_value"> 
                                {{state_value}}
                </app-custom-input>

                <div class="input">
                    <div>
                        <span> <strong>Age</strong>  </span><br>
                        <input formControlName="age" type="text" placeholder="">
                    </div>
                    <div>
                        <div>(without dirty, erro msg would come)</div>
                        <ng-container *ngIf="form.get('age')?.errors">
                            <span  *ngFor="let item of form.get('age')?.errors | keyvalue" class="err_message">{{item.value}}</span> 
                        </ng-container>
                    </div>
                </div>
<hr>
                <div class="input">
                    <div>
                        <span> <strong>First Name</strong>  </span><br>
                        <input formControlName="fname" type="text" placeholder="">
                    </div>
                    <div>
                        <div>(without dirty, erro msg would come)</div>
                        <ng-container *ngIf="form.get('fname')?.errors">
                            <span class="err_message">Please enter some value</span> 
                        </ng-container>
                    </div>
                </div>
<hr>
                <div class="input">
                    <div>
                        <span> <strong>Last Name</strong>  </span><br>
                        <input formControlName="lname" type="text" placeholder="">  
                    </div>
                    <div>
                        <ng-container *ngIf="form.controls.email.dirty && form.get('lname')?.errors">
                            <span class="err_message">Please enter some value</span> 
                        </ng-container>
                        <div>(if dirty, erro msg would come)</div>
                    </div>
                </div>
<hr>
                <div class="input">
                    <div>
                        <span> <strong>Email</strong>  </span><br>
                        <input formControlName="email" type="email" placeholder="@gmail.com">
                    </div>
                    <div>
                        <div>(if touched, erro msg would come)</div>
                        <ng-container *ngIf="form.controls.email.touched && !form.controls.email.valid">
                            <span class="err_message" [innerText] = "form.get('email')?.errors?.custom_validation_msg"></span> 
                        </ng-container>
                    </div>
                </div>
<hr>
                <div formGroupName="exp">
                    <span> <strong>Experience</strong>  </span><br>
                    <div class="input">
                        <input formControlName="technology" type="text" placeholder="technologies">
                        <button (click)="addSkillControl()"> ADD Skills</button>
                    </div>
                    <div formArrayName="skills" >
                        <!-- dynamic contol -->
                        <div *ngFor="let s of skills.controls; index as i" class="input" [formGroupName]="i">
                            <div>
                                {{i}} <input type="text"  placeholder="skill" formControlName="skill">
                                <button (click)="deleteSkillControl(i)" style="border-color:rgb(236, 36, 36); background: white; color: red;">
                                    Remove</button>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>



            <!-- <div class="right">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="First Name"> 
            </div> -->

            <div style="grid-column: 1/3; display: flex; justify-content: center; align-items: center;">
                  <button (click)="printForm()" [disabled]="form.invalid">Submit</button>
                  <button (click)="reset()">Reset</button>
                  <button (click)="patch()" >Patch</button>
            </div>  
        </form>

        <div class="side-grid">
            <div *ngFor="let item of items"> {{item}}</div> <hr>
            <div *ngFor="let item of form.value | keyvalue">{{item.key}} : {{item.value}}</div>
            <hr>
            <h4>Should not use formControlName and ngModel together</h4>
            <p>It looks like you're using ngModel on the same form field as formControlName.
                Support for using the ngModel input property and ngModelChange event with
                reactive form directives has been deprecated in Angular v6 and will be removed
                in a future version of Angular.</p>
        </div>
    

</div>
