$shadow-darker: rgb(70, 69, 69);
$shadow-dark: #777;
$shadow-light: rgb(172, 171, 171);

$primary-bg-color: rgb(13, 85, 61);
$primary-bg-color-l1: rgb(14, 112, 79);
$secondary-bg-color: rgb(241, 241, 241);

$grd-mix-color:linear-gradient(to right, rgb(147, 226, 147), rgb(243, 165, 165), rgb(178, 178, 240), rgb(236, 236, 159));