$shadow-darker: rgb(70, 69, 69);
$shadow-dark: #777;
$shadow-light: rgb(172, 171, 171);

$primary-bg-color: rgb(26, 129, 95);
$primary-bg-color-l1: rgb(35, 170, 125);
$secondary-bg-color: rgb(241, 241, 241);
