$shadow-darker: rgb(70, 69, 69);
$shadow-dark: #777;
$shadow-light: rgb(172, 171, 171);

$primary-bg-color: rgb(0, 0, 0);
$primary-bg-color-l1: rgba(17, 49, 38, 0.616);
$secondary-bg-color: rgb(241, 241, 241);

$grd-mix-color:linear-gradient(to right, rgb(147, 226, 147), rgb(243, 165, 165), rgb(178, 178, 240), rgb(236, 236, 159));
$primary-comp-height:calc(100vh - 100px);