<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="grid">
        <nav>
            <!-- <img style="width: 30px; height: 30px; border-radius: 50%; background-color: crimson;"> -->
            <h3 style="display: inline-block;">Title</h3>
            
            <ul>
                <a href="#">link 1</a>
                <a href="#">link 2</a>
                <a href="#">link 3</a>
                <a href="#">link 4</a>
            </ul>
        </nav>

        <article>
            <header>header</header>
            <section>section</section>
            <section>section</section>
            <section>section</section>
            <section>section</section>
        </article>

        <aside>
            <header>header</header>
            <section>section</section>
        </aside>

        <footer>
            footer
        </footer>
    </div>
</body>
</html>