@import "../app/app-sass/variable";
@import "app-sass/mixin";

// :host{border: 3px solid red}

nav{
    height: 40px; width: 100vw;
    background-color: $primary-bg-color; color: white;
}
.toolbar{
    height: 30px; width: 100vw;
    background-color: $primary-bg-color-l1; color: rgb(90, 86, 86);
    padding: 4px;

    span{
        display: inline-block;
        cursor: pointer;
        padding:2px 16px;  
        margin: 3px 6px;
        border: 2px solid blanchedalmond; 
        border-radius: 10px;
        text-decoration: none;
        color: blanchedalmond;
        font-size: small;

        &:hover{  background-color: blanchedalmond; color: $primary-bg-color;}
    }
}

main{
    height: calc(100vh - 90px);
    width: 100vw;
    background-color: $secondary-bg-color;

    // router-outlet{
    //     height: 100%;
    // }
    overflow: scroll;
}

footer{
    height: 20px; width: 100vw;
    background-color: $primary-bg-color; 
    color:white;
}

