<nav>
    app navbar works!
</nav>

<div class="toolbar">
    <span class=link
        [routerLink]="link.url" *ngFor="let link of links">
        {{link.text}}
    </span>
</div>

<main>
   <router-outlet></router-outlet>
</main>

<footer>    
    app-footer works
</footer>

<div class="global-loader" [ngStyle]="{display:showHide}">
    <div class="spinner">
        <div class="dot"></div>
        <!-- <div class="timer">{{timer}}</div> -->
    </div>
</div>

<div class="global-message" [ngStyle]="message_style"  [ngClass]="message_class">
    <div class="message--text">
        {{message}}
    </div>
</div>
