:root{
    --primary-color-light: rgb(80, 172, 149);
    --primary-color: rgb(40, 134, 111);
    --primary-bg-color: rgb(220, 241, 236);
    --secondary-bg-color: rgb(145, 219, 213);
    --primary-shadow-color: rgb(214, 214, 214);

    --border-thicker: 6px solid var(--primary-color);
    --border-thick: 3px solid var(--primary-color);
    --border-thin: 1px solid var(--primary-color);

    --primary-text-color:rgb(24, 85, 70);
    --primary-text-color-light:rgb(233, 240, 192);
    --secondary-text-color:rgb(218, 17, 127);

    --body-color: whitesmoke;
}
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    /* border: 1px dotted black; */
    /* transition: all 0.5s; */
}
body{
    /* background-color: bisque; */
    overflow: hidden;
    font-family: sans-serif;
    background-color: var(--body-color);
    color: var(--primary-text-color);
}
li{list-style: none;}

button{outline: none;border: none; background: none;}
p {font-size: 20px; font-weight: 400;}

/* NAV */
nav li{display: inline-block; margin: 0 30px; cursor: pointer;}
nav ul{background-color: none; padding: 6px 12px;}
nav, .toolbar{
    border-bottom: var(--border-thin);
    display: flex; justify-content: space-between; 
    align-items: center; padding:10px;
    background: var(--primary-color-light);
}
.toolbar{
    justify-content: flex-start; 
    border-bottom: var(--border-thick);
    background: var(--primary-bg-color);
}
a{text-decoration: none; font-size: 16px; 
        border:var(--border-thick); border-radius: 5px; 
        padding: 6px 12px; margin: 0 10px;
        transition: all .5s;
}
a:hover{ 
    color: var(--secondary-text-color); 
    border: 3px solid var(--secondary-text-color); 
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px var(--secondary-text-color);;
}
.search--bar{ flex:2; position: relative;}
.search--bar input{ width: 100%; border-radius: 17px; border: var(--border-thin);}
.search--bar input:focus{ border: var(--border-thick);}
.search--bar .icon{ font-size:24px ; position:absolute; top: 50%; right: 10px ; transform: translateY(-50%);}


/* START */
.containor{
    position: relative;
    width: 900px; height: 60vh;
    margin: 20px auto;
    border-radius: 10px;
    border: var(--border-thick); 
    
    transition: all 1s;
}
.carosal--active{
    box-shadow: 3px 3px 20px var(--secondary-bg-color);
    border-radius: 10px;
 }
.carosal{
    position: absolute; top: 0; left: 0;
    padding: 10px 50px; 
    transition: all 0.5s ease;
    height: 100%;
}

.carosal header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.carosal section{
    padding: 50px 50px;
    line-height: 2rem;
    border-top: var(--border-thicker);
    /* box-shadow: 1px 1px 20px var(--primary-shadow-light); */
    background-color: var(--primary-bg-color);
}

section .content{
    margin-top: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding:5px;
    border: var(--border-thin); border-radius: 5px;
}
section .content img {
   width: 100px; height: 100px;
   border-radius: 50%;
}

section ul {
    font-size: 16px; font-weight: 300;
    margin: 10px 20px;padding: 2px;
}

.icon-carosal{ 
    position: absolute;
    font-size: 50px; cursor: pointer;
    color: var(--primary-color);
}
.icon--right{top:50%; right: 15px;}
.icon--left{top:50%; left: 15px;}

/* DOTS */
.dots{ position: absolute; top: 50px; left:50%; transform: translateX(-50%); display: flex;  align-items: center; }

.dot{
    height: 0.5rem; width: 0.5rem; border-radius: 50%;
    margin: 1.5rem 1.5rem;
    background-color: var(--primary-color-light);
    transition: all 0.5s;
  }
  
  .dot__active{
    height: 0.7rem; width: 0.7rem;
    background-color: var(--primary-color);
  }

/* ANIMATION */
@keyframes move {
    0%{
        transform: translateX(-50%);
    }
    50%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX( 0%);
    }
}



/* Pagination */

input{outline: none; border: none; padding: 10px;}
li{list-style: square;}
button{outline: none;border: none; background: none;}
p {font-size: 20px; font-weight: 400;}
.icon{ font-size: 24px; cursor: pointer;}

table{border-collapse: collapse; text-align: right;}
thead tr{ background-color: var(--primary-color); color: cornsilk;}
th,td{ padding: 5px 50px; border: var(--border-thin)}
tbody tr:nth-child(even){ background-color: rgb(197, 235, 233);}

/* START */


.paginator{
    margin: 30px auto; padding: 10px;
    width: 900px; height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: var(--primary-bg-color);
    border-radius: 10px;
    border: var(--border-thin);
    box-shadow: 1px 1px 10px var(--secondary-bg-color);
}
.paginator span{
    font-size: 24px;
    overflow: hidden;
}

.paginator div span{
    margin: 0 10px;
    font-size: 16px;
    height: 38px; width: 38px;
    border: var(--border-thin); border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .search--bar input::before{
    content: ""; display: inline-block;
    height: 38px; width: 38px; background-color: rgb(223, 223, 165);
    transform: translateY(-200%);
}
.search--bar input:hover::before{
    content: ""; display: inline-block;
    height: 38px; width: 38px;
    transform: translateY(0%);
} */

.paginator div span:hover,
.active--page{
    background-color: var(--primary-color-light);
    color: white; font-weight: 600;
}
.paginator > span:hover{
    color: var(--primary-color-light);
    font-weight: 600;
    animation: move 1s ease 0.1;
}



/* SIDE NAV */
.side-nav-containor{
    position: absolute; top:150px; left:0;
    height: 100vh; width: 300px;
    background-image: linear-gradient(to bottom, var(--primary-color), var(--primary-bg-color), var(--primary-color-light));
    display: flex; flex-direction: column; justify-content:  center; align-items: stretch;
    transform: translateX(-100%);
    transition: all 0.5s;
    border-radius: 10px;
    /* overflow: hidden; */
}

.side-nav-item{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    font-family: monospace;
    border-bottom:2px solid var(--primary-color);
    padding: 20px 0;
    cursor: pointer;
    text-align: center;
    transition: all .5s;
}

.side-nav-item:last-child{
    border-bottom: none;
}

.ion-md-close{
    cursor: pointer;
    position: absolute;
    top: 5%; right: 5%;

    /* height: 2em; width: 2em; background-color: var(--secondary-bg-color);border-radius: 50%;
    display: flex; justify-content: center; align-items: center; */
}

.side-nav-item:hover{
    color: var(--secondary-text-color);
    border-bottom: 2px solid var(--secondary-text-color);
    transform: translateX(-30px)  translateX(0px) scale(1.1);
    text-shadow: 5px 5px 10px rgb(177, 175, 174);
}



/* Menu */

.menu-containor{
    position: absolute;bottom: 0%; right: 0%; 
    /* transform: translate(-50%, -50%); */
    overflow: hidden; 
    /* border: 1px solid #777;  */
}

/* MENU */
    .menu{
        list-style: none;
        font-size: 1.5rem;
        cursor: pointer;
        background-color: var(--primary-color-light); color: white;
        position: relative;
    }
    .menu span{
        color: var(--primary-text-color);
        padding: 0.5em 1em;
        text-align: center; 
        display: block; 
        /* border-bottom: 1px solid #777 */
    }

    /* creating sub menu*/
    .menu::before{
        content: ""; display: none;
        position: absolute; top: 45px; left: 45px;
        width: 15px; height: 15px;
        background-color: var(--primary-color-light); 
        transform: translate(0%, 0%) rotateZ(45deg);
    }
    .menu:hover :last-child{ height: 100%; } /* show sub menu*/
    .menu:hover::before{ display: block; } /* show triangle */


/* SUB MENU */
    .sub-menu{
        background-color: var(--primary-bg-color); 
        /* border-radius: 10px; */
        cursor: pointer;
        /* display: none;  */
        height: 0;
        transition: all 0.5;
    }

    .sub-menu a{
        display: block; font-size: 0.7em;
        padding: 0.5em 1em;
        border: none; 
        color: rgb(77, 70, 70); 
    }
    .sub-menu a:last-child{border-bottom: none; }






