<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="carosal.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <script defer src="carosal.js"></script>

</head>
<body>
    <div class="containor">

        <div class="carosal carosal--1">
            <header>
                <!-- <i class="icon ion-md-arrow-back"></i> -->
                <h1>01</h1>
                <h3>American Fund</h3>
                <!-- <i class="icon ion-md-arrow-forward"></i> -->
            </header>
            <section>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati exercitationem accusantium ipsum ad deserunt, veniam quis magni laborum delectus suscipit iusto aliquid culpa nisi impedit, quas consequatur, quod est blanditiis?</p>
                <div class="content">
                    <img src="user-1.jpg" >
                    <ul>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </section>
        </div>

        <div class="carosal carosal--2">
            <header>
                <h1>02</h1>
                <h3>Canadian Fund</h3>
            </header>
            <section>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati exercitationem accusantium ipsum ad deserunt, veniam quis magni laborum delectus suscipit iusto aliquid culpa nisi impedit, quas consequatur, quod est blanditiis?</p>
                <div class="content">
                    <img src="user-2.jpg" >
                    <ul>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </section>
        </div>

        <div class="carosal carosal--3">
            <header>
                <h1>03</h1>
                <h3>AFIS (American investment fund)</h3>
            </header>
            <section>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati exercitationem accusantium ipsum ad deserunt, veniam quis magni laborum delectus suscipit iusto aliquid culpa nisi impedit, quas consequatur, quod est blanditiis?</p>
                <div class="content">
                    <img src="user-3.jpg" >
                    <ul>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </section>
        </div>

        <button class="icon icon--left ion-md-arrow-back" ></button>
        <button class="icon icon--right ion-md-arrow-forward" ></button>

        <div class="dots"></div>
    </div>

</body>
</html>

