@import "../abstract/mixin";

.app--section--1
{
    background-color: whitesmoke;
    overflow: hidden;
    .section--heading
    {
        h2{
            @include grd-text(1rem);
            font-size: 2rem;
            // text-align: center;
            margin: 2rem auto;
            transition: all 0.5s;

            &:hover{
                @include skew-effect;
            }
        }
    }
    
    .section--body{
        width: 100%; height: 100%;
        @include flex-row-center-center;
        justify-content: space-around;
        .text-part{
            //align-self: flex-center;
            h2{
                font-size: large;
                text-transform: uppercase;
            }

            p{
                font-size: small;
                padding: 0.5em 1em;
                text-transform: capitalize;
            }
            a{
               color: $col-1;
               border-bottom: 1px solid $col-1;
               margin-top: 3em;

               &:hover{color: white;}
            }
            
        }
    
        .image-part{
           // align-self: flex-start;
            position: relative;
           flex-grow:1
        }
    }
    
   
}