*{
    margin: 0; padding: 0;
    border: 1px dashed black;
    /* box-sizing: content-box; */
}

body{
    height: 100vh;
    margin: 0 20px;

    /* INHERITABLE */
    font-size: 1rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{position: fixed; top: 0;
    padding: 10px; z-index: 100;
    opacity: 0.5; text-align: left;
    background-color: cadetblue; width: 100%;}

.containor{
    margin: auto auto;
    width: 600px; height: 800px ; overflow: scroll;
    background-color: rgb(161, 155, 155);
}

/* BOX */
.box{
    margin: 10px auto;
    height: 200px; width: 200px;
    border-radius: 10px; 
}

.box--r{
    background-color: rgb(233, 138, 138);
}
.box--a{
    background-color: rgb(104, 241, 241);
    /* transform: translateX(25px) translateY(25px); */
}
.box--n{
    background-color: rgb(86, 86, 240)
    /* transform: translateX(50px) translateY(50px); */
}
.box--f{
    height: 100px; width: 100px;
    background-color:rgb(245, 157, 245)
}