// Animation 
@keyframes slide-right{
    from{transform: translateX(-100%); opacity:0}
    to{transform: translateX(0%); opacity:1}
}
@keyframes slide-left{
    from{transform: translateX(100%); opacity:0}
    to{transform: translateX(0%); opacity:1}
}
@keyframes slide-down{
    from{transform: translateY(100%); opacity:0}
    to{transform: translateY(0%); opacity:1}
}
@keyframes slide-up{
    from{transform: translateY(-100%); opacity:0}
    to{transform: translateY(0%); opacity:1}
}