@import "../abstract/variables";
@import "../abstract/mixin";

*{ margin: 0; padding:0 ; box-sizing: border-box; 
    // border: 1px solid black;
}

body{ 
    padding: 10px; 
    color: rgb(114, 98, 98);
    background-color: whitesmoke;
}

.containor{   
    margin: 0 auto;
    padding: 10px;
    background-color: $pbgclr;
    min-width: $min-app-w;
}

header, footer, section{
    
    height: 90vh; width: 100%; 
}