<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="menu.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

</head>
<body>
<div class="menu-containor">
        <li class="menu">
            <!-- <i class="icon ion-md-menu"></i> -->
            <span >menu1</span>
            <div class="sub-menu">
                <a >sub menu item 11 </a>
                <a >sub menu item 12 </a>
                <a >sub menu item 13 </a>
            </div>
        </li>

        <li class="menu" >
            <!-- <i class="icon ion-md-menu" ></i> -->
            <span >menu2 </span>
            <div class="sub-menu">
                <a >sub menu item 21 </a>
                <a >sub menu item 22 </a>
                <a >sub menu item 23 </a>
            </div>
        </li>

        <li class="menu" >
            <!-- <i class="icon ion-md-menu"></i> -->
            <span>menu3 </span>
            <div class="sub-menu">
                <a> sub menu item 32 </a>
                <a> sub menu item 33 </a>
            </div>
        </li>
</div>
</body>
</html>