<div class="containor">
    <p>user works!</p>

    <button class="left">
        <i class="icon ion-md-back"></i>
    </button>
    <button class="right">
        <i class="icon ion-md-forward"></i>
    </button>
</div>


<ng-template>
    <div class="user-card">
        <img class="user-img"/>
        <h2>name</h2>
        <p>description</p>
        <li>
            <i>i</i>
            <i>i</i>
            <i>i</i>
        </li>
        <button> contact</button>
        <div class="user-address">
            <span>line1</span>
            <span>line2</span>
            <span>sate</span>
            <span>country</span>
        </div>
        <span>email@email.com</span>
    </div>
</ng-template>
