<div class="containor">

    <div *ngFor="let user of users">
        <div style="margin: 20px;">
            <ng-container *ngTemplateOutlet="userTemplate; context:{user}" ></ng-container>
        </div>
    </div>

    <!-- <button class="left">
        <i class="icon ion-md-back"></i>
    </button>
    <button class="right">
        <i class="icon ion-md-forward"></i>
    </button> -->
</div>


<ng-template #userTemplate let-u="user">
    <div class="profile-card">
        <div class="card-header">
            <div class="pic">
                <img [src]="u.picture.large" alt=""/>
            </div>
            <div class="name">{{u.name.first}}</div>
            <div class="name">{{u.name.last}}</div>
            <div class="desc">Web Developer</div>
            <span class="desc">email@email.com</span>
            <div class="sm">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-github"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div>
           
            <a href="#" class="contact-btn">Contact me</a>
        </div>

        <div class="card-footer">
            <div class="numbers">
               <div class="item">
                   <span>120</span>
                   Posts
               </div>
               <div class="item">
                    <span>127K</span>
                    Following
                </div>
                <div class="item">
                    <span>130</span>
                    Followers
                </div>
            </div>
        </div>
        
        
    </div>
</ng-template>
